/*
 * Base structure
 */

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

/* Work around for conflict between SlickGrid and Bootstrap */
[class^="slickgrid_"],
[class^="slickgrid_"] div {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}


/*
 * Global add-ons
 */

.main-container {
  min-height: calc(100vh - 56px);
}

.main-row {
  height: 100%;
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Sidebar
 */

.navbar-toggler {
  display: inline-block;
}

@media (min-width: 1200px) {
  .navbar-toggler {
    display: none;
  }
}
/* Hide for mobile, show later */
.sidebar {
  flex: 0 1 320px;
  width: 320px;
  margin-left: -320px;
  min-height: calc(100vh - 56px);
  position: fixed;
  top: 56px;
  left: 0;
  background-color: #f5f5f5;
  padding: 15px;
  border-right: 1px solid #eee;
  transition: all 0.3s;
  z-index: 999;
}
.sidebar.visible {
  margin-left: 0;
}

@media (min-width: 1200px) {
  .sidebar {
    position: relative;
    top: auto;
    left: auto;
    margin-left: 0;
  }
}

/*
 * Main content
 */

.main {
  flex: 1 1 calc(100% - 320px);
  max-width: 100%;
  padding: 15px;
}
.main .page-header {
  margin-top: 0;
}

.subTitle {
  font-size: 18px;
}

/*
 * Time Slider
 */
.pipped-slider {
  margin-bottom: 4em !important;
}

.pipped-slider .ui-slider-pip {
    width: 1%;
    margin-left: -0.5%;
}

.pipped-slider .ui-slider-pip > .ui-slider-label {
    display: none;
    height: 4px;
}

.pipped-slider .ui-slider-pip > .ui-slider-line {
    background: #aaa;
}

.pipped-slider .ui-slider-pip:nth-of-type(5n+1) > .ui-slider-line {
    height: 6px;
    background: #777;
}

.pipped-slider .ui-slider-pip:nth-of-type(5n+1) > .ui-slider-label {
    display: block;
    top: 8px;
    color: #ccc;
    font-size: 0.8em;
}

.pipped-slider .ui-slider-pip:nth-of-type(10n+1) > .ui-slider-line {
    height: 10px;
    background: #222;
}

.pipped-slider .ui-slider-pip:nth-of-type(10n+1) > .ui-slider-label {
    display: block;
    top: 12px;
    color: #333;
    font-size: 1em;
}

/* For tree views */
.toggle {
  height: 9px;
  width: 9px;
  display: inline-block;
}

.toggle.expand {
  background: url(slickgrid/images/expand.gif) no-repeat center center;
}

.toggle.collapse {
  background: url(slickgrid/images/collapse.gif) no-repeat center center;
}

/*
 * Loading spinner (See https://github.com/tobiasahlin/SpinKit/blob/master/LICENSE)
 */
.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;

  -webkit-animation: rotate 2.0s infinite linear;
  animation: rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #333;
  border-radius: 100%;

  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0px;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  }
  50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
