extends layout.pug
block body
  .row
    .col-md-6
      h2.sub-header Allocation Summary
      #table-allocation-summary
    .col-md-6
      h2.sub-header Memory Usage
      #chart-memory-usage
      #table-memory-usage
  .row
    h2.sub-header Memory Usage History
    #chart-memory-usage-history