doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title #{title} — Trace Collector
    link(rel='shortcut icon' href='/static/favicon.ico')
    link(rel='stylesheet' href='/static/bundle.min.css' type='text/css')
    // Google Ajax loader
    script(type='text/javascript' src='https://www.google.com/jsapi')
    script(type='text/javascript' src='/static/bundle.min.js')
    block extrahead
  body
    nav#navbar.navbar.navbar-dark.bg-dark(role='navigation')
      a.navbar-brand(href='/') Emscripten tracing JS
    .container-fluid.main-container
      .row.main-row
        .col-sm-3.col-md-2.sidebar
          block navbar
        .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
          h1#page-header.page-header #{pageTitle}
            span.small.text-muted.pull-right #{pageSubTitle}
          block body