doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title #{title} — Trace Collector
    link(rel='shortcut icon' href='/static/favicon.ico')
    link(rel='stylesheet' href='/static/bundle.min.css' type='text/css')
    script(type='text/javascript' src='/static/bundle.min.js')
    block extrahead
  body
    nav#navbar.navbar.navbar-dark.bg-dark(role='navigation')
      a.navbar-brand(href='/') Emscripten tracing JS
      button.navbar-toggler#sidebarCollapse(type='button' data-toggle='sidebar' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
    .container-fluid.main-container
      .row.main-row
        .sidebar#sidebar
          block navbar
        .col
          h1#page-header.page-header.py-4= pageTitle
            span 
            span.subTitle.text-muted.float-lg-right.pt-2 !{pageSubTitle}
          .row
            block body